.inputWrapper {
    display: flex;
    align-items: center;
    background-color: #e9e9e9; 
    border: 1px solid #ddd;
    border-radius: 25px; 
    padding: 0 15px;
    transition: border-color 0.2s;
    margin-bottom: 15px;
}

.inputWrapper:focus-within {
    border-color: #38006b;
    background-color: #fff;
}

.icon {
    color: #5d288d;
    margin-right: 10px;
}

.inputField {
    flex-grow: 1;
    border: none;
    background: none;
    padding: 12px 0;
    outline: none;
    font-size: 16px;
    color: #333;
    width: 100%;
}