.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 50px);
    background-color: #f0f0f0;
    padding: 30px 0;
}

.contentCard {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.header {
    margin-bottom: 30px;
}

.logo {
    color: #38006b;
    font-size: 40px;
    margin: 0;
}

.title {
    color: #38006b;
    font-size: 24px;
    margin: 10px 0 30px 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputGroup {
    display: flex;
    align-items: center;
    background-color: #e9e9e9;
    border-radius: 25px;
    padding: 0 15px;
}

.inputIcon {
    color: #5d288d;
    margin-right: 10px;
}

.inputField {
    flex-grow: 1;
    border: none;
    background: none;
    padding: 12px 0;
    outline: none;
    font-size: 16px;
}

.inputField[type="date"] {
    color: #333; 
}

.registerButton {
    background-color: #38006b;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.registerButton:hover {
    background-color: #5d288d;
}

.loginLinkText {
    font-size: 14px;
    margin-top: 20px;
}

.loginLink {
    color: #ff9800; /* Laranja */
    text-decoration: none;
    font-weight: bold;
}