.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, border-color 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%; 
    cursor: pointer;
    text-decoration: none; 
    color: inherit;
}

.card:hover {
    transform: translateY(-4px);
    border-color: #ff9800;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.placeholder {
    background-color: #f0f0f0;
    width: 100%;
    height: 160px; 
    border-radius: 4px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    font-size: 30px;
}

.title {
    font-weight: bold;
    font-size: 15px;
    color: #38006b;
    margin-bottom: 5px;
    width: 100%;
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.author {
    font-size: 13px;
    color: #777;
}